@font-face {
  font-family: "ifont";
  src:
      url('./../fonts/ifont.woff2') format('woff2'),
      url('./../fonts/ifont.woff') format('woff'),
  font-weight: normal;
  font-style: normal;
}

.ifont:before {
  display: inline-block;
  font-family: "ifont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ifont-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ifont-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.ifont-clock:before { content: "\EA01" }
.ifont-like:before { content: "\EA02" }